//背景色调类
@main-bac-dark:#00185c;
@main-bac-light:#136c93;

//字体色调类
@main-font:#424242;
@useful-txt-font:#0070d2;

@grey-button-bac-click:#86929f;
@grey-button-bac:#a8b7c7;
@blue-button-bac:#0070d2;
@blue-button-bac-hover:rgba(0,112,210,.7);
@blue-button-bac-undo:rgba(0,112,210,.4);
@blue-button-bac-click:#00195c;
@grey-button-bac-hover:rgba(168,183,199,.7);
@grey-button-bac-undo:rgba(168,183,199,.4);


@select-bac:#e8ecf3;
@select-distance:#f5f8fd;

@undo-bac:#f5f5f6;

@white-color:#fff;

@input-default-border:#d5d4d0;
@input-placeholder:#a8b7bc;
@input-edit-border:#0070d2;
@input-readonly-border:#d5d4d0;
@input-readonly-bac:#f8f8f8;
@input-readonly-font:#424242;
@input-error-bac:#fff9f9;
@input-error-border:#e50505;

@pagination-border-color-default:#d9d9d9;