@import './size';
@import './color';
.input-component{
  font-size: 12px;
  position: relative;
  input{
    width: 100%;
    height: @input-height;
    border: 1px solid @input-default-border;
    outline: none;
    padding: 0 @input-padding;
    &:focus{
      border-color: @input-edit-border;
    }
    &:disabled{
      background-color: @input-readonly-bac;
      color: @input-readonly-font;
    }
  }
  &.input-error{
    input{
      background-color: @input-error-bac;
      border-color: @input-error-border;
    }
  }
  .unit{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: @input-height;
    padding: 0 6px;
    background-color: @white-color;
  }
}