@input-height:32px;
@input-padding: 8px;
@input-default-width: 200px;
@btn-height:32px;

@message-min-width: 220px;
@message-max-width: 400px;
@message-padding-horizontal: 14px;
@message-padding-vertical: 12px;
@message-margin-bottom: 10px;
@message-border-radius: 6px;

@pagination-border-radius: 4px;
@pagination-page-size: 32px;
@pagination-page-margin-right: 8px;

@sideBarWidth:150px;