@input-height:32px;
@input-padding: 8px;
@btn-height:32px;

@alert-min-width: 220px;
@alert-max-width: 400px;
@alert-padding-horizontal: 14px;
@alert-padding-vertical: 12px;
@alert-margin-bottom: 10px;

@pagination-border-radius: 4px;
@pagination-page-size: 32px;
@pagination-page-margin-right: 8px;
@alert-border-radius: 6px;