@import '~css/index.less';
@import '~css/public.less';

.Calendar{
    width: 400px;
    padding: 5px 10px;
    padding-left: 36px;
    height: 32px;
    line-height: 20px;
    border: 1px solid @inNormalB;
    position: relative;
    .CalendarSelect{
        width: 100%;
        height: 100%;
        .icon-icon1{
            padding: 0 10px;
            height: 100%;
            line-height: 32px;
            font-size: 16px;
            color: @btNormal;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }
        .CalendarPick{
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            >span{
                float: left;
                width: 50%;
                &:first-of-type{
                    padding-right: 30px;
                }
                &:last-of-type{
                    padding-left: 30px;
                }
            }
            .icon-xingzhuang4{
                height: 100%;
                line-height: 22px;
                font-size: 12px;
                color: #999;
                position: absolute;
                left: 50%;
                margin-left: -6px;
                top: 0;
            }
        }
    }
    .CalendarOption{
        width: 600px;
        border: 1px solid @inNormalB;
        position: absolute;
        left: -1px;
        top: 32px;
        .CalendarTitle{
            width: 100%;
            height: 50px;
            line-height: 49px;
            border-bottom: 1px solid @inNormalB;
            >span{
                float: left;
                width: 50%;
                text-align: center;
                &:first-of-type{
                    padding-right: 30px;
                }
                &:last-of-type{
                    padding-left: 30px;
                }
            }
            .icon-xingzhuang4{
                height: 100%;
                line-height: 48px;
                font-size: 12px;
                color: #999;
                position: absolute;
                left: 50%;
                margin-left: -6px;
                top: 0;
            }
        }
        .CalendarMain{
            .yearSelect{
                width: 100%;
                height: 50px;
                line-height: 49px;
                border-bottom: 1px solid @inNormalB;
                .iconfont{
                    font-size: 12px;
                    color: @fontMain;
                    margin: 20px;
                }

            }
        }
    }
}