@import '../style/color.less';
body{
    pre{
        font-family: yahei;
        margin:10px 0 ;
        a{
            border:1px solid #ddd;
            cursor: pointer;
            border-radius: 4px;
            padding: 2px 4px;
            &:hover{
                background: #ddd;
            }
        }
        .code{
            background: #1a3c4c;
            color:#fff;
            padding: 10px 0;
            margin-top:4px;
        }
    }
}
