@import '../style/color.less';
body{
    pre{
        font-family: yahei;
        a{
            border:1px solid #ddd;
            cursor: pointer;
        }
        .code{
            background: #1a3c4c;
            color:#fff;
            padding: 10px 0;
        }
    }
}
