/*公共变量*/
@main:#00195c;//视觉主色
@minor:#136c93;//视觉次色
@fontMain:#424242;//字体主色
@clickFont:#0070d2;//图标及可点击文字
@button:#86929f;//按钮
@fontMinor:#a8b7c7;//按钮及次要文字
@listSelect:#e8ecf3;//列表选择
@listMargin:#f5f8fd;//列表间距
@bgDisabled:#f5f5f6;//背景/各类不可输入框
@bgFont:#fff;//背景/文字

//按钮
@btNormal:rgba(0,112,210,1);//按钮正常
@btHover:rgba(0,112,210,0.7);//按钮悬停
@btPressDown:rgba(0,25,92,1);//按钮按下
@btDisabled:rgba(0,112,210,0.4);//按钮禁用

//输入框
@inNormalB:#d5d4d0;//正常边框
@inNormalT:#a8b7c7;//正常文字
@inEditB:#0070d2;//编辑边框
@inReadonlyB:#d5d4d0;//只读边框
@inReadonlyBg:#f8f8f8;//只读背景
@inErrorB:#fff9f9;//错误边框
@inErrorBg:#e50505;//错误背景
@selectBg:#e8ecf3;//下拉选择背景

/*公共样式*/


